{
        "token": "0987654321",
        "folder_id": "b1glxcvasdfwervn",
        "source_image_id": "fd8tgasdfasdgftlnjod",
        "path_to_service_account": "/Users/asobakin/key.json",
        "disk_type": "network-hdd"
}
